* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: rgb(23, 55, 67);
}

.search {
  height: 50px;
  position: relative;
}

.search .input {
  border: none;
  height: 50px;
  width: 50px;
  padding: 15px;
  transition: width 0.2s ease;
}

.btn {
  border: none;
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 0;
  top: 0;
  transition: translate 0.2s;
}

.input:focus,
.btn:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  translate: -50px;
}
