<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Position</title>

    <style>
      .pos {
        position: relative;
        border: 1px solid blue;
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }

      .one {
        position: absolute;
        top: 10px;
        left: 20px;
      }

      dt {
        position: sticky;
        top: 0;
        background-color: #6d2525;
        color: azure;
      }

      button {
        position: fixed;
        right: 0;
        bottom: 20px;
        background-color: blue;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <!-- 

        css declaration

        .box {
            position: static | absolute | relative | sticky | fixed
        }

     -->

    <div class="pos">
      <div class="one">one</div>
      <div class="two">two</div>
      <div class="three">three</div>
    </div>

    <button>Click me</button>
    <!-- datalist -->
    <dl>
      <dt>A</dt>
      <dd>Ama</dd>
      <dd>Ayebea</dd>
      <dd>Angelina</dd>
      <dd>Abena</dd>

      <dt>B</dt>
      <dd>Beatrice</dd>
      <dd>Batman</dd>
      <dd>Barbara</dd>

      <dt>C</dt>
      <dd>Comfort</dd>
      <dd>Ckhkjhl</dd>
      <dd>Couihkjhkj</dd>
    </dl>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde soluta
      consectetur excepturi, nobis vitae, dolores at in totam, voluptatem
      nesciunt quas expedita alias perferendis quia ut consequatur. Quam,
      tempora molestias! Eius fuga dignissimos libero magnam? Adipisci dolorem
      id saepe ab voluptates labore, consequatur alias soluta ducimus, aliquid
      aspernatur! Exercitationem odit facilis ea et repellat commodi rerum sunt
      similique ipsa perspiciatis! Architecto laudantium voluptatum, atque fugit
      ex maiores maxime blanditiis nulla deleniti fugiat commodi quas in minus
      voluptate, enim laborum ad amet dolorum. Commodi possimus, eligendi
      corporis adipisci natus neque nostrum! Accusantium accusamus optio, sit,
      dolore enim laborum provident, sunt culpa deleniti odio maxime praesentium
      veniam corporis. Neque corporis laboriosam sapiente qui illo, quo nobis
      ipsa. Deleniti quibusdam ex sit consequatur? Libero officia dolor sit
      perferendis molestias, fugit soluta exercitationem consequatur in debitis
      itaque qui commodi inventore consequuntur deserunt voluptas reiciendis.
      Nisi sint fugit facilis culpa neque officiis delectus, nobis optio.
      Numquam earum temporibus facere dolore perspiciatis rem veniam non,
      impedit quae. Sit expedita, qui porro dolor laboriosam temporibus
      molestiae similique accusamus necessitatibus unde eaque deserunt itaque
      sapiente corporis minus labore. Unde, nemo laudantium quas soluta, facere
      velit suscipit tempore odit, obcaecati voluptates consequatur enim
      quibusdam sed distinctio. Nesciunt quaerat qui voluptates. Nulla debitis
      labore quam officia in ut eum atque? Inventore iure quos incidunt mollitia
      repudiandae sit suscipit? Nulla voluptatibus, similique quasi aliquam odit
      magnam possimus corporis illum numquam totam tempore cum tempora expedita,
      debitis consequatur saepe sint iure repellendus? Nesciunt, facere
      quibusdam tempore unde qui soluta deleniti ut aspernatur quod dolores
      voluptate eligendi illum ab obcaecati ex laboriosam nulla aperiam et
      velit? Similique, eius! Vel enim praesentium quasi eveniet. Vitae, placeat
      dolorem omnis voluptatibus nulla et ipsa. Culpa praesentium ea illo fuga.
      Dolorem adipisci inventore sed pariatur natus quod, perferendis enim
      aperiam, nihil eveniet, aspernatur officiis nostrum obcaecati eius. Eum et
      aperiam dolore voluptatum. Eos asperiores repellendus, illo, ab sunt natus
      aliquam amet iste, obcaecati rem officia id mollitia. Mollitia non maxime
      asperiores soluta nam necessitatibus magni optio nulla. Placeat,
      laboriosam eius! Error pariatur voluptatibus esse, laudantium architecto
      sint consectetur consequuntur. Optio rerum explicabo laboriosam quisquam
      minus voluptas sapiente, exercitationem ut reprehenderit similique iusto
      inventore possimus repudiandae adipisci officiis. Officiis in fuga iure,
      omnis quia iste labore architecto facere, delectus ipsam obcaecati ducimus
      ea impedit aut porro accusantium doloribus. Fugiat quis libero praesentium
      nulla aliquid, saepe similique sequi molestiae! Quas, nisi! Neque numquam
      voluptatibus quasi ipsum, porro ad aperiam inventore, veritatis amet
      pariatur nemo, ipsa facere. Consectetur, in natus animi porro quisquam,
      soluta doloribus voluptas nemo officiis, voluptates quaerat? Saepe
      temporibus expedita neque, animi sed quasi dignissimos aperiam? Possimus
      maxime, porro quo repudiandae quos at consequatur repellat doloribus
      voluptas est eaque eum, fugit facere distinctio autem eveniet, dolorem ut.
      Inventore error alias, ullam perferendis dignissimos ad commodi illo minus
      accusamus facilis, a iusto est obcaecati beatae molestias libero
      accusantium ipsum similique laudantium quas harum? Quae quam quia quos
      assumenda? Reprehenderit, officia. Facilis laudantium quod ab neque totam
      animi libero veritatis itaque, odio non, consequuntur deserunt qui quasi
      quas voluptatum, fuga dicta velit provident quisquam recusandae laboriosam
      labore? Ipsa, autem. Tenetur animi iste reprehenderit modi sapiente sint
      neque mollitia, fugit voluptates facere eligendi quisquam cupiditate ad
      laudantium assumenda inventore amet enim! Minus itaque magni aliquam illo
      quas! Vero, harum repudiandae! Illum eum officiis quod id et facilis
      molestiae asperiores beatae, illo doloribus a ipsum? Repellendus,
      quibusdam? Iusto, reiciendis eaque? Harum iste minus deserunt
      necessitatibus doloribus voluptas tempore, dolores quis dolore! Doloribus
      fugit voluptatibus tempore similique eum blanditiis dolores, libero qui
      architecto neque obcaecati totam deserunt vitae repudiandae aperiam
      adipisci eius perferendis repellendus asperiores praesentium culpa.
      Repellendus repellat amet qui minus.
    </p>
  </body>
</html>
