@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");

body {
  display: flex;
  font-family: "Roboto", serif;
  background-color: rgb(93, 104, 220);
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #fff;
  width: 800px;
  border-radius: 15px;
  text-align: center;
  padding: 50px 0;
}

h3 {
  opacity: 0.5;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
}

.btn {
  background-color: rgb(150, 106, 222);
  color: #fff;
  border: 0;
  padding: 15px 40px;
  border-radius: 10px;
  cursor: pointer;
}
